
body {
      background-color: black;
    }
  
.members{
    margin: auto;
    color: white;
    font-size: xx-large;
    font-family: monospace;
    font-style: inherit;
    height: 50%;
}
.worry{
    text-align: center;
    margin-top: 10%;
    animation: colorRotate2 0.5s linear 0s infinite;
    height: 7%;
    font-family: "monospace", system-ui;
    font-size: 50px;
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    flex-direction: column;
    color: #fff;
    transition: opacity 1s ease-out;
  }
  .loading.fade-out {
    opacity: 0;
  }
  .loading h1 {
    color: #fff;
    font-size: 32px;
  }
  .loading button {
    font-family: "Jolly Lodger", system-ui;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 25px;
    animation: colorRotate 2s linear 0s infinite;
  }
  .loading button:hover {
      background: rgba(0, 0, 0, 0);
  }

    @keyframes colorRotate {
    from {
        color: #ffffff;

    }
    50% {
        color: #000000;
    }
    100% {
        color:#ffffff;
    }
}
@keyframes colorRotate2 {
    from {
        color: #000000;
    }
    50% {
        color: #ffffff;
    }
    100% {
        color:#000000;
}
}